.Project {
    display: flex;
    position: relative;
    flex-direction: column;
    min-height: 100vh;
    width: 97vw;
    color: white;
    align-items: center;
    justify-content: flex-start;
    margin-top: 200px;
    gap: 35px;
    overflow: hidden;
}

.Project h1 {
    font-size: 3em;
    letter-spacing: 8px;
    
}
.line{
    width: 94vw;
    border-bottom: .5px solid white;
    opacity: 0.5;
}

.skew {
    margin-top: 300px;
    background-color: white;
    height: 400px;
    width:100%;
    position: absolute;
    transform: skewY(-8deg);
    margin-left: 5vw;
    opacity: .14;
}


.projCardWrapper{
    display: flex;
    position: relative;
    background-color: transparent;
    gap: 35px;
    margin-top: 150px;
    width: 40vw;
    overflow-x: scroll;
}

.projectCard{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 20px;
    background-color: aliceblue;
    border-radius: 50px;
    min-width: 38vw;
    min-height: 400px;
    opacity: .8;
    transition: .2s;
    
    
}

.projectCard:hover{
    opacity: 1;
}

.projectCard p {
    background: transparent;
    color: black;
    font-size: 1.5em;
    font-weight:600;
}